@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

*{
	font-family: 'Kosugi Maru', sans-serif;
}


body{
	background:#b4dbd3;
}

main{
	text-align:center;
	padding-top:150px;
}


