@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

*{
	font-family: 'Kosugi Maru', sans-serif;
	color:gray;
}

.article{
	 border-radius: 10px 10px 10px 10px;/*角を丸く*/
	 margin-bottom:10px;
	 background:white;
	 font-weight:bold;/*太字*/
	 font-size:20px;
}

body{
	background:#b4dbd3;
}